<dotnetnuke version="3.0" type="Module">
	<folders>
		<folder>
			<name>DNN_Reports</name>
			<friendlyname>Reports</friendlyname>
			<foldername>Reports</foldername>
			<modulename>DNN_Reports</modulename>
			<description>The Reports Module allows users to quickly display data retrieved from many data sources. An extensible architecture allows the use of custom Data Sources and Visualization systems to display data from any tabular data source, in many ways.</description>
			<version>05.00.00</version>
			<businesscontrollerclass>DotNetNuke.Modules.Reports.ReportsController</businesscontrollerclass>
			<resourcefile>resources.zip</resourcefile>
      
      <!-- Supports 04.06.00 and above -->
      <compatibleversions>[0-9][4-9]\.[0-9][6-9](\.[0-9][0-9])*</compatibleversions>
      
      <modules>
				<module>
					<friendlyname>Reports</friendlyname>
					<cachetime>-1</cachetime>
					<controls>
						<control>
							<src>DesktopModules/Reports/ViewReports.ascx</src>
							<type>View</type>
							<helpurl></helpurl>
						</control>
						<control>
							<key>Settings</key>
							<title>Reports Settings</title>
							<src>DesktopModules/Reports/Settings.ascx</src>
							<type>Edit</type>
							<helpurl></helpurl>
						</control>
						<control>
							<key>ManagePackages</key>
							<title>Add/Remove Extensions</title>
							<src>DesktopModules/Reports/Packages.ascx</src>
							<type>Edit</type>
							<helpurl></helpurl>
						</control>
					</controls>
				</module>
			</modules>
			<files>
				<!-- DLL Files -->
				<file>
					<name>DotNetNuke.Modules.Reports.dll</name>
				</file>
				<!-- SQL Scripts -->
				<file>
					<name>04.04.02.SqlDataProvider</name>
				</file>
				<file>
					<name>04.05.00.SqlDataProvider</name>
				</file>
				<file>
					<name>05.00.00.SqlDataProvider</name>
				</file>
				<!-- Version Cleanup Files -->
				<file>
					<name>05.00.00.txt</name>
				</file>
				<!-- Support Files -->
				<file>
					<name>license.html</name>
				</file>
			</files>
		</folder>
	</folders>
</dotnetnuke>