/*---------- Original ---------*/
.c_container{padding-bottom:10px;}

.title_vis{float:right;}

.c_content{clear:both;}

.c_contentpane{padding:8px 0 0 0;}

.c_footer {clear:both;margin-bottom:0px;padding:0; text-align:right;}

.Head{font-size:1.0em; color:#3A2417;}

/*============================================================================================*/
h1.c_title, h1.c_title input {padding:5px 5px 5px 10px; margin:0px;}

.cont_top_content{padding-top:0px; background:#FFFFFF; min-height:35px; border-bottom:5px solid #3A2417;}

.rbcontent {margin: 0px; padding: 0px 5px 0px 5px; background:url(images/bg_white.jpg); background-repeat:repeat}
.rbcontenttransparent {margin: 0px; padding: 0px 5px 0px 5px;}

.c_contentpane{padding:0px; text-align:left;}