<?xml version="1.0"?>
<configuration>
  <!-- The following elements are intended for future consolidation -->
  <regexfilters />
  <compression />
  <RewriterRules />
  <!-- 
		The blockrequests element contains one or more rules that are used for blocking access to the site.  This filter only works
		on content that is actually processed by ASP.Net.
	-->
  <blockrequests>
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/506" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/506" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/656" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/656" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/581" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/581" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/512" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/512" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/589" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/589" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/664" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/664" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/514" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/514" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/690" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/690" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/522" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/522" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/582" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/582" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/660" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/660" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/680" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/680" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/497" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/497" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/583" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/583" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/584" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/584" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/506" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/506" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/670" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/670" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/507" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/507" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/505" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/505" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/737" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/737" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/602" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/602" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/510" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/510" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/590" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/590" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/479" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/479" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/508" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/508" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/521" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/521" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/523" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/523" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/526" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/526" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/682" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/682" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/516" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/516" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/524" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/524" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/525" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/525" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/529" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/529" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/534" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/534" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/601" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/601" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/472" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/472" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/535" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/535" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/733" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/733" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/536" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/536" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/538" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/538" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/539" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/539" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/580" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/580" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/503" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/503" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/540" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/540" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/614" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/614" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/702" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/702" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/537" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/537" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/542" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/542" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/543" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/543" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/544" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/544" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/735" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/735" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/530" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/530" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/545" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/545" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/550" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/550" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/652" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/652" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/732" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/732" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/677" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/677" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/716" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/716" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/499" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/499" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/554" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/554" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/547" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/547" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/696" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/696" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/697" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/697" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/705" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/705" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/734" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/734" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/678" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/678" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/487" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/487" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/490" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/490" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/489" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/489" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/556" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/556" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/693" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/693" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/473" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/473" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/546" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/546" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/561" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/561" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/692" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/692" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/555" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/555" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/559" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/559" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/557" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/557" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/558" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/558" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/560" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/560" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/563" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/563" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/659" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/659" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/500" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/500" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/671" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/671" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/713" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/713" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/564" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/564" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/565" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/565" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/568" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/568" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/570" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/570" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/486" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/486" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/703" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/703" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/707" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/707" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/711" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/711" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/736" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/736" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/571" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/571" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/679" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/679" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/579" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/579" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/572" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/572" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/573" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/573" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/577" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/577" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/709" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/709" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/722" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/722" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/698" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/698" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/724" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/724" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/578" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/578" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/725" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/725" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/738" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/738" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/726" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/726" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/727" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/727" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/728" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/728" />
    <rule servervar="HTTP_URL" values="/EVENT-CALENDAR/CTL/DETAILS/MID/399/ITEMID/729" operator="Equal" action="PermanentRedirect" location="http://www.summerfestivalguide.co.uk/Festival-Calendar/ctl/ViewEvent/mid/666/OccuranceId/729" />
    <rule servervar="HTTP_URL" values="/FESTIVAL-NEWS/2016/07/21/BEAT-HERDER-FESTIVAL-REVIEW-2016" operator="Equal" action="PermanentRedirect" location="/Reviews/2016/07/21/Beat-Herder-Festival-Review-2016" />
  </blockrequests>
  <skinningdefaults>
    <skininfo folder="/MinimalExtropy/" default="index.ascx" admindefault="index.ascx" />
    <containerinfo folder="/MinimalExtropy/" default="title_grey.ascx" admindefault="title_grey.ascx" />
  </skinningdefaults>
</configuration>