<table width="100%">
	<tr>
		<td class='avatar'>
			[AVATAR]
		</td>
		<td>
			<div class='header'><span id='author[ITEMID]' class='author'>[AUTHOR]</span>[AUTHORFROM]</div>
			<div class='commentbody' id='body[ITEMID]'>[COMMENT]</div>
			<div class='buttons'>
				[DELETE]
				[REPLY]
				<span class='timeago'>[HOWLONGAGO]</span>
			</div>
		</td>
	</tr>
</table>