<dotnetnuke version="3.0" type="Module">
  <folders>
    <folder>
      <name>DNN_Documents</name>
      <friendlyname>Documents</friendlyname>
      <foldername>Documents</foldername>
      <modulename>DNN_Documents</modulename>
      <description>This module renders a list of documents, including links to browse or download the document. Documents includes an edit page, which allows authorized users to edit the information about the Documents (for example, a friendly title) stored in the SQL database.</description>
      <version>04.01.00</version>
      <businesscontrollerclass>DotNetNuke.Modules.Documents.DocumentController, DotNetNuke.Modules.Documents</businesscontrollerclass>
      <resourcefile>resources.zip</resourcefile>
      <compatiableversions>^([0-9]{1}[4]{1}.[0-9]{1}[6-9]{1}.[0-9]{1}[0-9]{1}|[0-9]{1}[5-9]{1}.[0-9]{1}[0-9]{1}.[0-9]{1}[0-9]{1})$</compatiableversions>
      <modules>
        <module>
          <friendlyname>Documents</friendlyname>
          <cachetime>0</cachetime>
          <controls>
            <control>
              <src>DesktopModules/Documents/Document.ascx</src>
              <type>View</type>
              <helpurl>http://www.dotnetnuke.com/default.aspx?tabid=787</helpurl>
            </control>
            <control>
              <key>Edit</key>
              <title>Edit Documents</title>
              <src>DesktopModules/Documents/EditDocs.ascx</src>
              <type>Edit</type>
              <helpurl>http://www.dotnetnuke.com/default.aspx?tabid=787</helpurl>
            </control>
            <control>
              <key>Settings</key>
              <title>Documents Settings</title>
              <src>DesktopModules/Documents/EditDocumentsSettings.ascx</src>
              <type>Edit</type>
              <helpurl>http://www.dotnetnuke.com/default.aspx?tabid=787</helpurl>
            </control>
          </controls>
        </module>
      </modules>
      <files>
        <file>
          <name>DotNetNuke.Modules.Documents.dll</name>
        </file>
        <file>
          <name>03.01.00.SqlDataProvider</name>
        </file>
        <file>
          <name>03.01.01.SqlDataProvider</name>
        </file>
        <file>
          <name>03.01.02.SqlDataProvider</name>
        </file>
				<file>
					<name>04.00.00.SqlDataProvider</name>
				</file>
        <file>
          <name>04.01.00.SqlDataProvider</name>
        </file>
        <file>
          <name>Uninstall.SqlDataProvider</name>
        </file>
        <file>
          <name>04.01.00.txt</name>
        </file>
      </files>
    </folder>
  </folders>
</dotnetnuke>