<dotnetnuke version="3.0" type="Module">
  <folders>
    <folder>
      <name>DNN_Media</name>
      <friendlyname>Media</friendlyname>
      <foldername>Media</foldername>
      <modulename>DNN_Media</modulename>
      <description>This module renders Media files.  The module looks at the file extension and create the correct tag block to render the media in the browser.</description>
      <version>03.02.03</version>
      <businesscontrollerclass>DotNetNuke.Modules.Media.MediaController, DotNetNuke.Modules.Media</businesscontrollerclass>
      <modules>
        <module>
          <friendlyname>Media</friendlyname>
          <cachetime>0</cachetime>
          <controls>
            <control>
              <src>DesktopModules/Media/MediaModule.ascx</src>
              <type>View</type>
              <helpurl>http://www.dotnetnuke.com/default.aspx?tabid=787</helpurl>
            </control>
            <control>
              <key>Edit</key>
              <title>Edit Media</title>
              <src>DesktopModules/Media/EditMedia.ascx</src>
              <type>Edit</type>
              <helpurl>http://www.dotnetnuke.com/default.aspx?tabid=787</helpurl>
            </control>
          </controls>
        </module>
      </modules>
      <files>
        <file>
          <name>DotNetNuke.Modules.Media.dll</name>
        </file>
        <file>
          <name>EditMedia.ascx</name>
        </file>
        <file>
          <name>MediaModule.ascx</name>
        </file>
        <file>
          <path>App_LocalResources</path>
          <name>EditMedia.ascx.resx</name>
        </file>
        <file>
          <path>App_LocalResources</path>
          <name>MediaModule.ascx.resx</name>
        </file>
        <file>
          <name>DotNetNuke.Modules.Media.SqlDataProvider.dll</name>
        </file>
        <file>
          <name>03.02.00.SqlDataProvider</name>
        </file>
        <file>
          <name>03.02.03.SqlDataProvider</name>
        </file>
        <file>
          <name>Uninstall.SqlDataProvider</name>
        </file>
      </files>
    </folder>
  </folders>
</dotnetnuke>