<div class="articleList" itemscope itemtype="http://schema.org/Article">
    <div class="articleHeadline" itemprop="name"><h1>[EDIT]<a href="[ARTICLELINK]" itemprop="url">[TITLE]</a></h1></div>
    <div class="articleAuthor Normal"><a href="[AUTHORLINK]" itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">[AUTHOR]</span></a> posted on <span itemprop="datePublished">[PUBLISHSTARTDATE:MMMM dd, yyyy HH:mm]</span>[HASRATING] [RATING][/HASRATING]</div>

    <div class="articleEntry Normal">
        [HASIMAGE]<div class="articleImage"><img src='[IMAGELINK]' width="100" itemprop="image" alt='[TITLE]'/></div>[/HASIMAGE]
        <span itemprop="description">[HASSUMMARY][SUMMARY][/HASSUMMARY][HASNOSUMMARY][DETAILS:150][/HASNOSUMMARY]</span>
        [ISRSSITEM]<p><a href="[LINK]" target="_blank">[Read the rest of this article...]</a></p>[/ISRSSITEM]
        [ISNOTRSSITEM]
        [HASMOREDETAIL:150]
            <p><a href="[ARTICLELINK]" target="[LINKTARGET]">[Read the rest of this article...]</a></p>
        [/HASMOREDETAIL:150][/ISNOTRSSITEM]
    </div>
    
    [HASCATEGORIES] 
    <div class="articleCategoriesListing Normal">
        Posted in: [CATEGORIES]
    </div>
    [/HASCATEGORIES]
    
    <!--div class="articleSocialListing Normal">
	<span class='st_fblike_hcount' st_url="[ARTICLELINK]" displayText='Facebook Like'></span>
	<span class='st_twitter_hcount' st_url="[ARTICLELINK]" displayText='Tweet'></span>
    </div-->
	<!--span class='st_plusone_hcount' st_url="[ARTICLELINK]" displayText='Google +1'></span-->
    
</div>