<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@ukfestivalguide">
<meta name="twitter:creator" content="@ukfestivalguide">
<meta name="twitter:image" content="http://www.summerfestivalguide.co.uk[IMAGELINK]" />
<meta property="og:site_name" content="www.summerfestivalguide.co.uk" />
<meta property="og:title" content="[TITLE]" />
<meta property="og:description" content="[DETAILS:200]">
<meta property="og:type" content="article" />
<input type="hidden" id="articleID" value=[ARTICLEID]>
<input type="hidden" id="articleUrl" value=[ARTICLELINK]>
<script type='text/javascript'>
var articleid = $('#articleID').val();
var url = $('#articleUrl').val();
if (articleid <= 2847)
{
	$('head').append('<meta property="og:url" content="' + url + '.aspx" />');
}
else
{
	$('head').append('<meta property="og:url" content=' + url + ' />');
}
</script>
[HASIMAGE]
<meta property="og:image" content="http://www.summerfestivalguide.co.uk[IMAGELINK]" />[/HASIMAGE]
<meta property="fb:app_id" content="476669525683318"/>
<meta property="fb:admins" content="615011604"/>

<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({ publisher: "7defe173-7c9b-4e05-9c8d-d0ca1fd78606", doNotHash: true, doNotCopy: true, hashAddressBar: false });</script>