@import url("css/variations/stylesheetwidget.css");
/*HOME.css */
html{height:100%;}
#Form{height:100%;}
a{outline:0;border:0;}
p, ul, ol{margin:0;padding:0 0 1em 0;}

#DNN6{width:1000px;position:relative;z-index:1;min-height:100%; margin:0px auto;}

#Header {background:url('Images/TopBanner.png'); height:164px; width:1000px; z-index:10;}

#LogoRow {float:left; position:relative; width:190px; height:165px; z-index:30; float:left;}
#AdSlot {float:right; width:750px; height:100px; z-index:30; margin-right:20px; margin-top:10px;}

#MenuBar {background:url('Images/TopMenu.png') no-repeat; height:91px; width:1000px; z-index:20; top:-40px; position:relative;}

#SearchPanel {position:relative; float:left; left:515px; width:240px; height:30px; padding-top:5px;}
#Nav {position:relative; width:960px; padding-left:40px; padding-top:20px; float:left;}

#Content { float:left; width:1000px; position:relative; top:-40px;}
#Panes{background:url('images/bg_white.png') repeat; float:left; width:980px;margin:auto; padding:10px;}

#Login {float:right; width:400px; font-size:11px; text-align:right;}

#Breadcrumb{float:left; width:480px; font-size:11px; line-height:20px;}
#Breadcrumb span{display:inline-block;float:left;font-weight:bold;color:#666;font-size:11px;}
#Breadcrumb .Intro{text-transform:uppercase;padding:0 10px 0 13px;margin:0 5px 0 0;font-size:10px;}
#Breadcrumb .SkinObject{display:inline-block;color:#944e4e;float:left;font-size:11px;}
#Breadcrumb .SkinObject:hover{text-decoration:underline;}
#Breadcrumb span.Sep{width:10px;margin:0 5px;}

#ContentLeft{width:660px; float:left; padding-right:10px;}
#ContentRight{width:310px; float:left;}

#dnn_PromoPane{width:100%; float:left;}
#dnn_TopLeftPane{width:180px; float:left; padding-right:10px;}
#dnn_TopRightPane{width:490px; float:right;}
#dnn_ContentPane{width:100%; float:left;}
#dnn_RightPane{width:260px;}

#Footer {float:left; font-style:normal;padding: 20px 0px 0px 10px;margin-left:auto;margin-right:auto;vertical-align: middle; position:relative; left:-17px;}
#FooterText {font-weight:300;text-align:center;	padding-top:70px;}
.footerback {background-image: url(images/footer.png); background-repeat: no-repeat;height: 264px; width: 1034px;}

#FooterText ul{margin:0 auto; padding:0px; list-style-type: none; display:table;}
#FooterText ul li {float:left; padding:5px 5px; margin-bottom:5px; margin-left:auto; margin-right:auto;}

.twtr-doc {margin:0px auto;}