
.monthview .featured + .notfeatured:before
{
	display:block;
	content: '';
	border-top:1px solid #bbb;
	margin:1em 0em;
}

.monthview .event .colright .title
{
	margin-right:4em;/*to avoid admission*/
}
