                    <div class="title">
                        <a href="[URL]" >[TITLE]</a>
                    </div>
                    <div class="duration">
                        [DURATION]
                    </div>
