<div>
	<div class='inner'>
		<div class='logoregister'>
		<img src='[LOGO]' />
		<a href='[URL]' class='register'>Register</a>
		</div>

		<div class='eventtitle'><a href='[URL]' >[TITLE]</a></div>
		<div class='eventdate'>[DURATIONDAYONLY]</div>
		<div class='summary'>[SUMMARY]</div>
	</div>
</div>