<a href="[URL]" style="background-image:url('[LOGO]'); background-color:#[CATEGORYCOLOR];">
  <span class="texts">
    <span class="title" style="background-color:#[CATEGORYCOLOR];">[EVENTDURATION:MMM d]: [TITLE]</span>
    <span class="summary">
      <span class="inner">[SUMMARY]</span>
    </span>    
  </span>
</a>