<div class="articleLatestReview" itemscope itemtype="http://schema.org/Article">
    <div class="Author">
        <a href="[AUTHORLINK]"><span itemprop="author">[AUTHOR]</span></a> posted on 
        <span itemprop="datePublished">[PUBLISHSTARTDATE:MMMM dd, yyyy HH:mm]</span>
    </div>
    
	<a href="[ARTICLELINK]" itemprop="url">
	[HASIMAGE]<div class="Image"><img src='[IMAGELINK]' itemprop="image" alt='[TITLE]' /></div>[/HASIMAGE]
		<div class="Headline" itemprop="name">
			[EDIT]<h2>[TITLE]</h2>
		</div>
	</a>
    
</div>