<div class="articleLatest" itemscope itemtype="http://schema.org/Article">
    <div class="articleLatestAuthor Normal"><span itemprop="datePublished">[PUBLISHSTARTDATE:ddd dd MMMM yyyy HH:mm]</span></div>
    [HASIMAGE]<div class="articleLatestImage"><img src='[IMAGELINK]' itemprop="image" alt='[TITLE]' /></div>[/HASIMAGE]
    <div class="articleLatestHeadline" itemprop="name"><h1>[EDIT]<a href="[ARTICLELINK]" itemprop="url">[TITLE]</a></h1></div>

    <div class="articleLatestEntry">
        <p itemprop="description">[HASSUMMARY][SUMMARY][/HASSUMMARY][HASNOSUMMARY][DETAILS:150][/HASNOSUMMARY]</p>
        [ISRSSITEM]<p><a href="[LINK]" target="_blank">[Read the rest of this article...]</a></p>[/ISRSSITEM]
        [ISNOTRSSITEM]
        [HASMOREDETAIL:150]
            <div class="articleLatestReadMore"><a href="[ARTICLELINK]" target="[LINKTARGET]">[Read the rest of this article...]</a></div>
        [/HASMOREDETAIL:150][/ISNOTRSSITEM]
    </div>
</div>