<flexevents>
	<maxappearance>
		<pattern name="Periodically" times="16" />
		<pattern name="Monthly" times="4" />
		<pattern name="Annually" times="2" />
		<pattern name="Weekly" times="16" />
	</maxappearance>

	<config>
		<!--Not configurable-->
		<option name="EventExpires" value="30"></option>
		<option name="DaysToArchiveAfterFinish" value="30"></option>
		<option name="LogoWidth" value="480"></option>
		<option name="LogoHeight" value="360"></option>
		<option name="CropLogo" value="False"></option>
		<option name="ReviewPageSize" value="15"></option>
		<option name="SliderViewInterval" value="6000"></option>


		<!--Configurable in module settings-->
		<option name="AddEventRoles" value="Administrators"></option>
		<option name="ShareLocations" value="True"></option>
		<option name="ManageRoles" value="Administrators"></option>
		<option name="ShowLegendInCalendar" value="True"></option>
		<option name="GridViewMaxColumns" value="3"></option>
		<option name="AllowReviews" value="AllUsers"></option>
		<option name="AllowReminder" value="False"></option>
		<option name="ReviewNeedApproval" value="False"></option>
		<option name="ListViewPageSize" value="30"></option>
		<option name="GridViewPageSize" value="24"></option>
		<option name="CalendarViewMonths" value="4"></option>
		<option name="MapViewHeight" value="360"></option>
		<option name="CollectSalesTax" value="No"></option>
		<option name="TaxRate" value="0"></option>
		<option name="HomeCountry" value="US"></option>
		<option name="BookingOpens" value="0"></option>
		<option name="CustomViewEventPage" value="False"></option>
		<option name="EventListView" value="ListView_Calendar"></option>
		<option name="AdditionalViews" value="Map"></option>
		<option name="FreeEventListType" value="Upcoming"></option>
		<option name="FreeEventListMaxRecords" value="6"></option>
		<option name="MaxColumns" value="1"></option>
		<option name="ViewPermission" value="False"></option>
		<option name="ShowCategoryFilter" value="True"></option>
		<option name="ShowLocationFilter" value="True"></option>
		<option name="ShowDateFilter" value="True"></option>
		<option name="ShowRegistrationTab" value="True"></option>
		<option name="AddMetadata" value="True"></option>
		<option name="MaxCategories" value="1"></option>

	</config>

</flexevents>