<?xml version="1.0" encoding="utf-8" ?>
<dotnetnuke version="3.0" type="Module">
	<folders>
		<folder>
			<name>Forum</name>
			<friendlyname>Forum</friendlyname>
			<foldername>Forum</foldername>
			<modulename>DNN_Forum</modulename> 
			<description>The core forum module for DotNetNuke.</description>
			<version>04.04.03</version>
			<businesscontrollerclass>DotNetNuke.Modules.Forum.ThreadController, DotNetNuke.Modules.Forum</businesscontrollerclass>
			<resourcefile>Resources.zip</resourcefile>
			<modules>
				<module>
					<friendlyname>Forum</friendlyname>
	  				<cachetime>-1</cachetime>
						<controls>
							<control>
								<title>Forum</title>
								<src>Forum_Container.ascx</src>
								<type>View</type>
							</control>
							<control>
							  <key>Configuration</key>
							  <title>Forum Configuration</title>
							  <src>Forum_Settings.ascx</src>
							  <type>View</type>
							</control>
							<control>
							  <key>ForumEdit</key>
							  <title>Edit Forum</title>
							  <src>Forum_ForumEdit.ascx</src>
							  <type>View</type>
							</control>
							<control>
							  <key>ForumManage</key>
							  <title>Manage Forum</title>
							  <src>Forum_ForumManage.ascx</src>
							  <type>View</type>
							</control>
							<control>
							  <key>ForumSearch</key>
							  <title>Search Forum</title>
							  <src>Forum_Search.ascx</src>
							  <type>View</type>
							</control>
							<control>
							  <key>PostDelete</key>
							  <title>Delete Post</title>
							  <src>Forum_PostDelete.ascx</src>
							  <type>View</type>
							</control>
							<control>
							  <key>PostEdit</key>
							  <title>Edit Post</title>
							  <src>Forum_PostEdit.ascx</src>
							  <type>View</type>
							</control>
							<control>
							  <key>PostModerate</key>
							  <title>Moderate Post</title>
							  <src>Forum_PostModerate.ascx</src>
							  <type>View</type>
							</control>
							<control>
							  <key>PostReport</key>
							  <title>Report Post</title>
							  <src>DesktopModules/Forum/Forum_PostReport.ascx</src>
							  <type>View</type>
							</control>
							<control>
							  <key>ThreadMove</key>
							  <title>Move Thread</title>
							  <src>Forum_ThreadMove.ascx</src>
							  <type>View</type>
							</control>
							<control>
							  <key>UserManage</key>
							  <title>Manage User</title>
							  <src>Forum_UserManage.ascx</src>
							  <type>View</type>
							</control>
							<control>
							  <key>TemplateAdmin</key>
							  <title>Forum Template Administration</title>
							  <src>DesktopModules/Forum/Forum_TemplateAdmin.ascx</src>
							  <type>View</type>
							</control>
							<control>
							  <key>UserProfile</key>
							  <title>User Profile</title>
							  <src>Forum_UserProfile.ascx</src>
							  <type>View</type>
							</control>
							<control>
							  <key>UserSettings</key>
							  <title>User Settings</title>
							  <src>Forum_UserSettings.ascx</src>
							  <type>View</type>
							</control>
							<control>
							  <key>BadWords</key>
							  <title>Manage Filtered Words</title>
							  <src>Forum_BadWords.ascx</src>
							  <type>View</type>
							</control>
							<control>
							  <key>BadWordEdit</key>
							  <title>Edit Filtered Words</title>
							  <src>Forum_BadWordEdit.ascx</src>
							  <type>View</type>
							</control>
							<control>
							  <key>Settings</key>
							  <title>Forum Settings</title>
							  <src>Forum_ModuleSettings.ascx</src>
							  <type>Admin</type>
							</control>
							<control>
							  <key>GroupEdit</key>
							  <title>Manage Group</title>
							  <src>Forum_GroupEdit.ascx</src>
							  <type>View</type>
							</control>
							<control>
							  <key>ForumAdministration</key>
							  <title>Forum Administration</title>
							  <src>Forum_Administration.ascx</src>
							  <type>View</type>
							</control>
							<control>
							  <key>AvatarManager</key>
							  <title>Avatar Management</title>
							  <src>Forum_Avatars.ascx</src>
							  <type>View</type>
							</control>
							<control>
							  <key>StatsRanks</key>
							  <title>Statistics and Rankings</title>
							  <src>Forum_StatsRanks.ascx</src>
							  <type>View</type>
							</control>
							<control>
							  <key>ContentRemoved</key>
							  <title>Content Removed</title>
							  <src>Forum_ContentRemoved.ascx</src>
							  <type>Anonymous</type>
							</control>
							<control>
							  <key>PMAdd</key>
							  <title>Send Private Message</title>
							  <src>Forum_PMAdd.ascx</src>
							  <type>View</type>
							</control>
							<control>
							  <key>PMInbox</key>
							  <title>Private Messaging Inbox</title>
							  <src>Forum_PMInbox.ascx</src>
							  <type>View</type>
							</control>
							<control>
							  <key>PMThread</key>
							  <title>Private Discussions</title>
							  <src>Forum_PMThread.ascx</src>
							  <type>View</type>
							</control>
							<control>
							  <key>MemberList</key>
							  <title>Member List</title>
							  <src>Forum_MemberList.ascx</src>
							  <type>View</type>
							</control>
							<control>
							  <key>EmailAdmin</key>
							  <title>Email Administration</title>
							  <src>Forum_EmailAdmin.ascx</src>
							  <type>View</type>
							</control>
							<control>
							  <key>EmailTemplates</key>
							  <title>Email Template Administration</title>
							  <src>Forum_EmailTemplates.ascx</src>
							  <type>View</type>
							</control>
							<control>
							  <key>ThreadSplit</key>
							  <title>Split Thread</title>
							  <src>Forum_ThreadSplit.ascx</src>
							  <type>View</type>
							</control>
							<control>
							  <key>HostEmailTaskAdmin</key>
							  <title>Email Task Admin</title>
							  <src>Forum_HostEmailAdmin.ascx</src>
							  <type>Host</type>
							</control>
						</controls>
				</module>
			</modules>
			<files>
				<file>
				  <name>DotNetNuke.Modules.Forum.dll</name>
				</file>
				<file>
				  <name>03.00.00.SqlDataProvider</name>
				</file>
				<file>
				  <name>03.00.10.SqlDataProvider</name>
				</file>
				<file>
				  <name>03.00.11.SqlDataProvider</name>
				</file>
				<file>
				  <name>03.00.12.SqlDataProvider</name>
				</file>
				<file>
				  <name>03.10.01.SqlDataProvider</name>
				</file>
				<file>
				  <name>03.10.02.SqlDataProvider</name>
				</file>
				<file>
				  <name>03.10.03.SqlDataProvider</name>
				</file>
				<file>
				  <name>03.10.04.SqlDataProvider</name>
				</file>
				<file>
				  <name>03.10.05.SqlDataProvider</name>
				</file>
				<file>
				  <name>03.20.00.SqlDataProvider</name>
				</file>
				<file>
				  <name>03.20.01.SqlDataProvider</name>
				</file>
				<file>
				  <name>03.20.02.SqlDataProvider</name>
				</file>
				<file>
				  <name>03.20.03.SqlDataProvider</name>
				</file>
				<file>
				  <name>03.20.04.SqlDataProvider</name>
				</file>
				<file>
				  <name>03.20.07.SqlDataProvider</name>
				</file>
				<file>
				  <name>03.20.08.SqlDataProvider</name>
				</file>
				<file>
				  <name>04.03.00.SqlDataProvider</name>
				</file>
				<file>
				  <name>04.03.04.SqlDataProvider</name>
				 </file>
				 <file>
				  <name>04.04.02.SqlDataProvider</name>
				 </file>
				 <file>
				  <name>04.04.03.SqlDataProvider</name>
				 </file>
				<file>
				  <name>Uninstall.SqlDataProvider</name>
				</file>
				<file>
				  <name>04.04.03.txt</name>
				</file>
			</files>
		</folder>
	</folders>
</dotnetnuke>